@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #01041a;
}

* {
  font-family: "Poppins", sans-serif;
  /* line-height: 1.5; */
}

button,
a {
  -webkit-tap-highlight-color: transparent !important;
  -mox-tap-highlight-color: transparent !important;
  -ms-tap-highlight-color: transparent !important;
  -o-tap-highlight-color: transparent !important;
  -webkit-focus-ring-color: transparent !important;
}

/* @media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
} */

.layout {
  grid:
    "header header header" auto
    "sidebar main main" auto
    "sidebar main main" auto/
    256px auto auto;
}

.sidebar-links {
  @apply hover:bg-white hover:text-primary-deepBlue transition-all duration-200 ease-linear text-primary rounded-full mb-2;
}
.active-sidebar-link {
  @apply text-primary-deepBlue bg-white;
}
